@model Core.CarViewModel

<div class="car-card">
    <img src="@Model.ImageUrl" alt="@Model.Make @Model.Model" />
    <div class="card-content">
        <h3>@Model.Make @Model.Model</h3>
        <button class="more-btn" data-car-id="@Model.Id" type="button">More</button>
    </div>
</div>
