@model WebApp.Models.CarViewModel

<div class="car-card"
     onclick="openCarModal('@Model.Make', '@Model.Model', '@Model.Year', '@Model.Class', '@Model.Drive', '@Model.Fuel_Type', '@Model.Transmission', '@Model.ImageUrl')">
    <img src="@Model.ImageUrl" alt="@Model.Make @Model.Model" />
    <div class="card-content">
        <h3>@Model.Make @Model.Model</h3>
        <button class="more-btn" type="button">More</button>
    </div>
</div>
